{
    "process": {
        "settings": {
            "models": ["resnet101", "vit_l_16", "resnext101_32x8d"],
            "series_offset": 1000,
            "femur_threshold": 0.2,
            "tibia_threshold": 0.2,
            "total_threshold": 1.0,
            "confidence_threshold": 0.0
        }
    }
}